<nav *ngIf="!isRoot" class="flex items-center gap-4 p-4  
    bg-red-50
    text-sm
    font-bold
    sticky
    top-0
    whitespace-nowrap">
    <a routerLink="/">Back to home</a>
    <ul class="flex gap-4 p-1 overflow-x-auto">
        <li *ngFor="let link of links"><a [routerLink]="link.path" [fragment]="link.fragment" routerLinkActive="font-normal" [routerLinkActiveOptions]="{ exact: true}">{{ link.label }}</a></li>
    </ul>
</nav>
<div class="p-6">
    <router-outlet></router-outlet>
</div>