<h1>Services</h1>
<p>Typically classes with a narrow, well-defined purpose used for tasks that don't involve the view or application logic.</p>

<pre>{{serviceExample}}</pre>

<h2>Providing a service</h2>
<p>To use the service in your component you provide it in the list of providers.</p>
<p><b>Note:</b> For non-standalone components you provide the service in the module where the component is declared</p>

<pre>{{providingService}}</pre>

<h2>Using a service</h2>
<p>You can use the service in your component by injecting it in the constructor</p>
<pre>{{usingService}}</pre>